<h1>Alta</h1>

<section class="section-product-form">
    <h2>Alta de producto</h2>
    <form class="form-product" autocomplete="off">
        <div>
            <label for="id">Id:</label>
            <input id="id" name="id">
        </div>
            
        <div>
            <label for="name">Nombre:</label>
            <input id="name" name="name">
        </div>
            
        <div>
            <label for="price">Precio:</label>
            <input id="price" name="price">
        </div>
            
        <div>
            <label for="description">Descripción:</label>
            <input id="description" name="description">
        </div>

        <div>
            <button type="button" class="form-product__btn-create">Crear</button>
            <button type="button" class="form-product__btn-update" disabled>Guardar</button>
            <button type="button" class="form-product__btn-cancel" disabled>Cancelar</button>
        </div>

            
    </form>
</section>

<section class="section-products-table">
    <h2>Listado de productos</h2>
    <div class="products-table-container"></div>
</section>
